.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* Mobile & Tablet */
@media screen and (max-width: 768px) {
  .row {
    width: 90%;
    margin: 0 auto;
  }
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

/* Mobile & Tablet */
@media screen and (max-width: 768px) {
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%
  }
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

/* Tablet */
@media screen and (min-width: 419px) and (max-width: 768px) {
  #steps .row>.left,
  #steps .row>.central {
    float: left;
    width: 50%;
  }

  #steps .row>.right {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

/* Mobile */
@media screen and (max-width: 419px) {
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: 100%;
  }
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

/* Tablet */
@media screen and (min-width: 419px) and (max-width: 768px) {
  #why .row img {
    padding: 30px;
    width: 100px;
    height: 100px;
  }
}

/* Mobile */
@media screen and (max-width: 419px) {
  #why .row img {
    padding: 15px;
    width: 70px;
    height: 70px;
  }
}


/* COMMON */

.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

/* Mobile & Tablet*/
@media screen and (max-width: 768px) {
  
  .container {
    padding: 50px 0 50px;
  }
  
  .container.grey {
    background-color: white;
  }

  .container#lezioni,
  .container#why {
    background-image: url(img/clouds.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 1);
  }

  .container#why {
    background-image: url(img/rotate-clouds.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 1);
  }
}

img {
  height: 200px;
}

/* Tablet */
@media screen and (min-width: 419px) and (max-width: 768px) {
  img {
    height: 150px;
  }
}

/* Mobile */
@media screen and (max-width: 419px) {
  img {
    height: 100px;
  }
}

.clear {
  clear: both;
}

/* Tablet */
@media screen and (min-width: 419px) and (max-width: 768px) {
  html {
    font-size: 100%;
  }
}

/* Mobile & Tablet*/
@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: Arial, Helvetica, sans-serif;
  }

  h1 {
    font-size: 1.7em;
    margin-bottom: 1em;
  }

  h3 {
    font-size: 1.4em;
    margin-bottom: .5em;
  }
}

/* Mobile */
@media screen and (max-width: 419px) {
  html {
    font-size: 75%;
  }
}
